body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header, footer {
    background-color: #1a2353;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#searchSection {
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#categoryInput{
    height:25px;
    width: 19%;
    font-size:14pt;
}

button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: medium;
}

#bookList {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

}

.book {
    border: 1px solid #f2abab;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

#bookDescription {
    margin-top: 20px;
    margin-bottom: 20px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}
